{% extends "layout.html" %}

{% block title %}Dive into Bathymetry{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/homepage.css" rel="stylesheet">
    <link href="/static/css/rules.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <a href="/tutorial" id="linktuto">
        <div class="chose">
            <p class="tuto-intro">First time in here ? Check the <span class="bold">tutorial <i style="width: 20px" class="fa-solid fa-graduation-cap"></i></span> to learn a bit more about bathymetry before diving into the BENTHLE !</p>
        </div>
    </a>

    <div id="choose-difficulty">
        <h4 class="play-title">Unlock the secrets of the benthic zone</h4>
        <form class="chose" method="post" action="{{ url_for('homepage') }}">
            <button class="btn-loading locker0" type="submit" name="difficulty" value="bathyal">BATHYAL</button>
            <i class="fa-solid fa-lock locker locker1"></i>
            <button class="btn-loading locker1 disabled" disabled type="submit" name="difficulty" value="abyssal">ABYSSAL</button>
            <i class="fa-solid fa-lock locker locker2"></i>
            <button class="btn-loading locker2 disabled" type="submit" name="difficulty" value="hadal">HADAL</button>
            <i class="fa-solid fa-lock locker locker3"></i>
        </form>
    </div>

    <div class="pop-up" style="display: none;" id="rules-text">
        <div class="exit-game"><i class="fa-solid fa-xmark fa-xl"></i></div>
        <h1 class="title">How to play</h1>
        <p>BENTHLE has <span class="bold">two main objectives</span> : finding the <span class="bold">deepest</span> AND the <span class="bold">shallowest</span> point on the map.</p>
        <p>You start with 5 attempts. Each time you flip a tile, you loose 1 attempt. Remaining attempts are transfered to the next difficulty level.</p>
        <p><span class="bold">Benthic wisdom:</span> When you flip a tile that is 1 tile away from the deepest or the shallowest point, a yellow flash will appear.</p>
    </div>

    <div class="pop-up" style="display: none;" id="my-maps">
        <div class="exit-game"><i class="fa-solid fa-xmark fa-xl"></i></div>
        <h1 class="title">Map's collection</h1>
        <div id="maps-container"></div>
    </div>

    <div class="pop-up" style="display: none;" id="my-stats">
        <div class="exit-game"><i class="fa-solid fa-xmark fa-xl"></i></div>
        <h1 class="title">Statistics</h1>
        <div class="stat-cell">
            <p class="data" id="last-win-data">--</p>
            <p class="data-title">LAST WIN</p>
        </div>
        <div class="stats global-stats">
            <div class="stat-cell">
                <p class="data" id="attempts-data">--</p>
                <p class="data-title">TODAY'S ATTEMPTS</p>
            </div>
            <div class="stat-cell">
                <p class="data" id="current-streak-data">--</p>
                <p class="data-title">CURRENT STREAK</p>
            </div>
            <div class="stat-cell">
                <p class="data" id="max-streak-data">--</p>
                <p class="data-title">MAXIMUM STREAK</p>
            </div>
            <div class="stat-cell">
                <p class="data" id="bathyal-data">--</p>
                <p class="data-title">BATHYAL</p>
            </div>
            <div class="stat-cell">
                <p class="data" id="abyssal-data">--</p>
                <p class="data-title">ABYSSAL</p>
            </div>
            <div class="stat-cell">
                <p class="data" id="hadal-data">--</p>
                <p class="data-title">HADAL</p>
            </div>
        </div>

    </div>

    <script src="static/js/fetchTables.js"></script>
    <script src="static/js/navInteraction.js"></script>
    <script src="static/js/buttonInteraction.js"></script>
{% endblock %}