<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>BENTHLE | {% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/static/css/styles.css" rel="stylesheet">
        {% block styles %}{% endblock %}

        <script id="DragDropTouch" src="https://bernardo-castilho.github.io/DragDropTouch/DragDropTouch.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://kit.fontawesome.com/d44efb4aa8.js" crossorigin="anonymous"></script>

    </head>
    <body>

    <nav>
        <div class="benthle-nav"><a class="navlink" id="house" href="/homepage">BENTHLE</a><div class="bg-benthle"></div></div>
            <ul>
                <li><a class="navlink" id="tutorial" href="/tutorial"><i class="fa-solid fa-graduation-cap"></i></a></li>
                <li><a class="navlink" id="rules"><i class="fa-solid fa-circle-question"></i></a></li>
                <li><a class="navlink" id="my-stats-btn"><i class="fa-solid fa-chart-simple"></i></a></li>
                <li><a class="navlink" id="my-maps-btn"><i class="fa-solid fa-map-location-dot"></i></a></li>
                
            </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    
    <footer>
        <div class="logo-container">
            <a href="https://github.com/moTTong-Sof" target="_blank"><i class="fa-brands fa-github logos"></i></a>
            <a href="https://www.linkedin.com/in/sofiane-farhra-26b3a51ba/?locale=en_US" target="_blank"><i class="fa-brands fa-linkedin logos"></i></a>
        </div>
        <p class="bold">&copy; 2023 BENTHLE by Sofiane Farhra</p>
        {% block footer %}{% endblock %}
    </footer>

    <script>
        
    </script>
    
    </body>
</html>