{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/rules.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div id="rules-text">
    <br>
    <h1 class="title">How to play</h1>
    <p>BENTHLE has <span class="bold">two main objectives</span> : finding the <span class="bold">deepest</span> AND the <span class="bold">shallowest</span> point on the map.</p>
    <p>Each time you flip a tile, you score 1 point. When you flip one of the objectives, your score decrease by 2 points. The smaller your score, the better !</p>
    <br>
    <h1 class="title">Levels & features</h1>
    <p>BENTHLE's levels are named after the benthic zones. The "deeper" we go, the harder it gets. The bathyal zone is the easiest level, the abyssal zone is intermediate, and the hadal zone is the hardest.</p>
    <p><span class="bold">Visible tiles:</span> Each level starts with a variable number of visible tiles, starting from 3 for the easiest level, down to 1 for the hardest.</p>
    <p><span class="bold">Benthic wisdom:</span> When you flip a tile that is 1 tile away from the deepest or the shallowest point, a yellow flash will appear. On the last level, benthic wisdom is unavailable.</p>
</div>


{% endblock %}