{% extends "layout.html" %}

{% block title %}Tutorial{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/loading_screen.css" rel="stylesheet">
    <link href="/static/css/tuto.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="loading-overlay">
        <div class="benthle-load loading-message pulsate-fwd"><p class="loading-message">BENTHLE</p><div class="bg-benthle-load"></div></div>
        <div id="loading-map">
            <div id="tile-1" class="loading-tile"></div>    
            <div id="tile-2" class="loading-tile"></div>
            <div id="tile-3" class="loading-tile"></div>
        </div>
    </div>


    <div class="nav-learn" style="display: none;">
        <div class="exit-game"><a href="/homepage"><i class="fa-solid fa-circle-xmark fa-lg" style="color: #100d61;"></i></a></div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%; background-color: #100d61;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>       
    </div>

    <div class="main-content" style="display: none;">

        <div class="concept" id="concept-1">
            <h1 class="title">What is bathymetry ?</h1>
            <p class="explanation">
                Bathymetry is the measurement of the depth of water in oceans, rivers, or lakes. 
                Bathymetric maps look a lot like topographic maps, which use lines to show the shape and elevation of land features.
            </p>
            <p class="explanation">
                On topographic maps, the lines connect points of equal elevation. 
                On bathymetric maps, they connect points of equal depth. 
                A circular shape with increasingly smaller circles inside of it can indicate an ocean trench. 
                It can also indicate a seamount, or underwater mountain.
            </p>
            <p class="source">Source : <a href="https://education.nationalgeographic.org/resource/bathymetry/" target="_blank">National Geographic | Education</a></p>       
        </div>

        <div class="concept hidden" id="concept-2">
            <h1 class="title">Reading a bathymetric map</h1>
            <p class="explanation">
                Scientists studying the seafloor often use bathymetric maps like the one below. 
                These maps use color to indicate water depth. 
                On most bathymetric images of the ocean, colors on the “warm” end of the spectrum (red, orange, and yellow) represent shallower water. 
                As the water deepens, the colors shift through green, blue, and finally into violet. Dry land is usually shown in white.
            </p>
            <div>
                <img id="bath-map-learn" alt="A bathymetric map"src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.png?elevation%5B(24.228646):(47.505729)%5D%5B(-35.999479):(-12.722396)%5D&.draw=surface&.vars=longitude%7Clatitude%7Celevation&.colorBar=%7C%7C%7C%7C%7C&.bgColor=0xffccccff&.legend=Off&.trim=10">
            </div>
            <p class="explanation">
                All areas of the seafloor that are the same distance below the surface will be shown in the same color. 
                When the color changes, so does the depth. In this way, 3-dimensional topography is shown on a 2-dimensional map. 
                Once you become accustomed to the relationship between color and depth on bathymetric images, you will be able to see shapes and structures on the ocean bottom
            </p>
            <p class="source">Source : <a href="https://oceanexplorer.noaa.gov/edu/learning/" target="_blank">NOAA | Ocean Exploration</a></p>
        </div>

        <div class="concept hidden" id="concept-3">
            <h1 class="title">Understanding colorscale</h1>
            <p class="explanation center">Now, let's dive into colorscales !</p>
            <p class="explanation center"></p>According to the one below, drag the depth values into their respective colors.</p>
            <div>
                <img id="learn-colorscale" alt="Bathymetric colorscale bar"src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.png?elevation%5B(15.000520833333333):(89.99947916660017)%5D%5B(-35.99947916666667):(42.99947916663591)%5D&.draw=surface&.vars=longitude%7Clatitude%7Celevation&.colorBar=Rainbow%7C%7C%7C%7C%7C&.bgColor=0xffccccff&.legend=Only">
            </div>
            <div class="drag-answers">
                <div class="drag" id="answer-color1" draggable="true" ondragstart="drag(event)">-2000m</div>
                <div class="drag" id="answer-color3" draggable="true" ondragstart="drag(event)">-5000m</div>
                <div class="drag" id="answer-color2" draggable="true" ondragstart="drag(event)">-7000m</div>
            </div>
            <div class="answers">
                <div class="color-answer color1 drop" data-answer="answer-color1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="color-answer color2 drop" data-answer="answer-color2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="color-answer color3 drop" data-answer="answer-color3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
        </div>


        <div class="concept hidden" id="concept-4">
            <h1 class="title">Understanding colorscale</h1>
            <p class="explanation center">
                Colors work dynamically. This means that a same value could be represented with a different color depending on the maximum and minimum depth present on the map.  
            </p>
            <div>
                <img id="learn-colorscale" alt="Bathymetric colorscale bar"src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.png?elevation%5B(15.000520833333333):(89.99947916660017)%5D%5B(-35.99947916666667):(42.99947916663591)%5D&.draw=surface&.vars=longitude%7Clatitude%7Celevation&.colorBar=Rainbow||Linear|-3500|500|&.bgColor=0xffccccff&.legend=Only">
            </div>
            <p class="explanation center">
                Right before, -2000m was in <span class="bold-color">yellowish color</span>. Look closely now and select which color represent this value now :
            </p>
            <div class="answers">
                <div class="color-answer color4" data-answer="answer-color4"></div>
                <div class="color-answer color5"></div>
                <div class="color-answer color6"></div>
            </div>
        </div>  

        <div class="concept hidden" id="concept-5">
            <h1 class="title">Let's practice !</h1>
            <p class="explanation change1 center">
                Pay attention to this map : the closer to the a coastline, the shallowest the area. Remember, areas above water are often displayed in white.
            </p>
            <p class="explanation change1 center">
                Click on the tile that has the <span class="bold">lowest depth</span>.
            </p>
            <p class="explanation change2 center" style="display: none;">
                Great! Now click on the tile that has the <span class="bold">deepest value</span>.
            </p>
            <div class="training-map">
                
                <img class="tiles-training" data="answer-deep" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(27.161979):(28.277604)%5D%5B(-20.899479):(-19.783853999999998)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(27.161979):(28.277604)%5D%5B(-19.783853999999998):(-18.668229)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" data="answer-shallow" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(27.161979):(28.277604)%5D%5B(-18.668229):(-17.552604)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(26.046354):(27.161979)%5D%5B(-20.899479):(-19.783853999999998)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(26.046354):(27.161979)%5D%5B(-19.783853999999998):(-18.668229)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(26.046354):(27.161979)%5D%5B(-18.668229):(-17.552604)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(24.930729):(26.046354)%5D%5B(-20.899479):(-19.783853999999998)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(24.930729):(26.046354)%5D%5B(-19.783853999999998):(-18.668229)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                <img class="tiles-training" alt="Bathymetric colorscale bar" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.transparentPng?elevation%5B(24.930729):(26.046354)%5D%5B(-18.668229):(-17.552604)%5D&.draw=surface&.vars=longitude|latitude|elevation&.colorBar=Rainbow||Linear|0|-4700|&.land=under">
                
            </div>
            <div class="color-training-map">
                <img alt="color scale of the map" src="https://erddap.emodnet.eu/erddap/griddap/bathymetry_2022.png?elevation%5B(24.930729):(28.277604)%5D%5B(-20.899479):(-17.552604)%5D&.draw=surface&.vars=longitude%7Clatitude%7Celevation&.colorBar=Rainbow%7C%7CLinear%7C%7C%7C&.legend=Only">
            </div>
        </div>

        <div class="finish-tuto hidden">
            <h1 class="explanation"> And now... </h1>
            <h1 class="explanation"> You are ready to play and challenge the BENTHLE !! </h1>
        </div>

    </div>

    <div class="next-concept" style="display: none;"><i class="fa-solid fa-right-long"></i></div> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="static/js/tuto.js"></script>

{% endblock %}