/* Eliminate default rules from browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ensure width and height include padding and border */
    user-select: none;
}

body {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: snow;
    min-height: 100vh;
    display: flex;
}

main {
    flex: 1;
}

img {
    user-select: none;
    pointer-events: none;
}

button:focus {
    outline: none;
}

nav {
    min-width: 360px;
    height: 10vh;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid #100d61; */
    align-items: center;
    max-width: 500px;
    width: 98%;
    margin: 1.5em auto 0.5em;
}

.nav-deactivated {
    opacity: 0.5;
    pointer-events: none; 
}

.benthle-nav {
    position: relative;
    margin: 1em 0 0 0.2em;
    font-size: 1.4em;
}

a#house {   
    margin-top: -1.2em;
}

.bg-benthle {
    position: absolute;
    top: 5px;
    /* left: -5px; */
    background-image: url('../images/benthleLine_dark.png');
    background-size: cover;
    padding: 1em 4em;
}

nav ul {
    display: flex;
    margin: 0 0 0 2em;
}

nav li {
    display: inline-flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #100d61;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

a#tutorial {
    margin: 0 0.2em 0 0;
}

a#rules {
    margin: 0 -0.10em 0 0;
}

.navlink:hover {
    text-decoration: none;
    color: #100d61;
}

nav i {
    display: inline-block;
    width: 27px;
    color: #100d61;
}

footer {
    max-width: 500px;
    display: grid;
    margin: 0 auto;
    color: #100d61;
}

.logo-container {
    margin: 0 auto;
    font-size: 2em;
}

.logos {
    width: 24px;
    height: 24px;
    margin: 0.25em;
    color:#100d61;
}

.logos:hover {
    text-decoration: none;
}