main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow-y: auto;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: snow;
}

main::-webkit-scrollbar{
    display: none;
  }

.nav-learn {
    position: fixed;
    top: 0;
    left: 50;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 1em 1em 1.5em;
    background-color: snow;
}

.exit-game {
    user-select: none;
}

.exit-game i {
    font-size: 200%;
    margin: 0.6em 0.2em 0.55em 0;
}

.progress {
    max-width: 80%;
}

.main-content {
    max-width: 900px;
    min-width: 360px;
    margin: 4em 0 0;
}

.concept {
    margin: 2em 1em;
    max-width: 600px;
}

.hidden {
    display: none;
}

.title {
    color: #100d61; /* #3498db; */
    text-align: center;
    font-size: 1.5rem;
}

.explanation, .title, .source {
    margin: 0 auto 1em;
}

#bath-map-learn {
    margin: -1em auto 1em;
}

img {
    display: block;
    margin: 0 auto 1em;
}

.next-concept {
    color: snow;
    background-color: #100d61; /* #3498db; */
    padding: 0.8em 1em;
    margin: 0 0.5em 1em;
    border-radius: 10px;
    cursor: pointer;
}

.answers, .drag-answers {
    display: flex;
    margin: 2em auto;
    border: transparent;
}

.drag {
    padding: 0.5em;
    margin: 0 auto;
    background-color: rgba(224, 224, 224, 0.5);
    cursor: grab;
    border-radius: 10px;
}

.color-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    margin: 0.5em auto;
    border-radius: 20px;
}

.bold-color {
    color: rgb(203, 255, 0);
    font-weight: bold;
}

.color1 {
    background-color: rgba(203, 255, 0, 0.9); /* -2000m */ 
}

.color2 {
    background-color: rgba(229, 0, 229, 0.9); /* -7000m */
}

.color3 {
    background-color: rgba(6, 95, 252, 0.9); /* -5000m */
}

.color4 {
    background-color: rgba(0, 255, 255, 0.9); /* -2000m */ 
}

.color5 {
    background-color: rgba(203, 148, 0, 0.9); /* -1000m */ 
}

.color6 {
    background-color: rgba(13, 0, 255, 0.9); /* -2500m */ 
}

.training-map {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
    min-width: 360px;
    margin: 0 auto 1em;
}

.training-map img {
    pointer-events: auto;
}

.tiles-training {
    width: 100%;
    height: 100%;
    border: 1px solid snow;
    margin: auto;
}

.center {
    text-align: center;
}

.green-flash {
    transition: border 0.5s ease-in-out;
    border: 5px #27e08a solid;
}

.bold {
    font-weight: bold;
}

.finish-tuto {
    margin: 5em auto;
}