# gitignore

__pycache__
env
test.py
templates/previous_versions
static/css/previous_versions
static/js/previous_versions
static/js/playerStats.js
static/images/bathymetry_background.png
instance
stored_maps.json